h1{
  font-size: 500%;
}
h2{
  font-size: 416%;
}
h3{
  font-size: 333%;
}
h4{
  font-size: 250%;
}
h5{
  font-size: 166%;
}
h6{
  font-size: 83%;
}

img{
  width: 100%;
  height: 100%;
}
body{
  text-align: center;
}

.enconstruccion{
  display: flex;
  width: 100%;
}
.enconstruccion .logoencondtruccion{
  float: left;
  width: 25%;
  height: 25%;
}
.enconstruccion .tecsto{
  float: right;
  text-align: left;
  margin-left: 1%;
  margin-top: 7%;
}

.infoyreservasasinfo{
  display: flex;
  margin-bottom: 5%;
  width: 100%;
}
.infoyreservasasinfo #info{
  flex-wrap: wrap;
  float: left;
  width: 50%;
}
.infoyreservasasinfo #img{
  float: right;
  width: 50%;
}

.header, .header h1{
  margin-top: -40px;
}

.logo{
  margin-bottom: 5%;
}

#datos2{
  margin-top: -5%;
  margin-right: 1%;
  width: 49%;
  float: right;
  margin-bottom: -3%;
  text-align: left;
}
#datos3{
  width: 54%;
  margin-top: -17%;
}
#datos4{
  width: 54%;
  margin-top: -1%;
}
#datos2 p{
  margin-bottom: 0%;
}
#grupo1, #grupo2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1%;
}
#fotopekenia{
  width: 49%;
  margin-top: -22%;
}
#fotodcha1{
  width: 50%;
  margin-top: 3%;
}
#fotoizda1{
  width: 55%;
  margin-bottom: 1%;
}
#fotodcha2{
  width: 44%;
}
.izda{
  margin-right: 5px;
  float: left;
}
.dcha{
  float: right;
}

.infoyreservasasinfo .img, .infoyreservasasinfo .img img{
  width: 28%;
  height: 28%;
  margin: 5px;
}

#datosreservas{
  width: 30%;
  margin-left: 34%;
  background-color: beige;
}

.logo img{
	width: 24%;
	margin-bottom: -8%;
	margin-top: -2%;
}
